doctype html
html
  head
    title Era's Dance Academy
    block scripts 
    block style
  body
    nav#navbar
        ul 
            div#logo 
                img(src="/static/imgg/img3.png")
                | EDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services ]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
            
    block content
    footer#footer
        | Copyright 2019 eradanceacademy.com